<h1>Add a New Specilaty</h1>

<form action="/specialties" method="post"> 
  <div class="form-group">
    <label for="specialty_name">Specialty Name</label>
    <input id="specialty_name" name="specialty_name" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-dark">Go!</button>
</form>